@inherits UmbracoViewPage

@using Umbraco.Core.Models
@using Umbraco.Web.Models

@{
    string mainImageUrl = "";
    if (Umbraco.AssignedContentItem.HasValue("mainImage"))
    {
        mainImageUrl = Umbraco.AssignedContentItem.GetPropertyValue<IPublishedContent>("mainImage").Url + "?width=336&height=336&mode=crop&anchor=center";
    }

    IEnumerable<RelatedLink> titleLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("titleLink");
    RelatedLink titleLink = null;
    if(titleLinks != null && titleLinks.Count()> 0)
    {
        titleLink = titleLinks.FirstOrDefault();
    }
}

<!-- Intro -->
<section id="intro" class="wrapper featured style1">
    <div class="inner">
        <span class="image"><img src="@mainImageUrl" alt="" /></span>
        <div class="content">
            <header>
                @Umbraco.Field("pageTitle", altFieldAlias: "pageName", insertBefore: "<h1>", insertAfter: "</h1>")
                @Umbraco.Field("subtitle", insertBefore: "<p>", insertAfter: "</p>")
            </header>
            @if (titleLink != null && !string.IsNullOrEmpty(titleLink.Link))
            {
                <footer>
                    <ul class="actions">
                        <li><a href="@titleLink.Link" class="button big">@titleLink.Caption</a></li>
                    </ul>
                </footer>
            }

        </div>
    </div>
</section>
