@inherits UmbracoViewPage

@using Umbraco.Core.Models
@using Umbraco.Web.Models

@{
    IEnumerable<RelatedLink> servicesLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("servicesLink", recurse: true);
    RelatedLink servicesLink = null;
    if (servicesLinks != null && servicesLinks.Count() > 0)
    {
        servicesLink = servicesLinks.FirstOrDefault();
    }

   
    IEnumerable<RelatedLink> serviceIcons = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("servicesIcons", true);
    
}
<!-- One -->
<section class="wrapper style2 special">
    <div class="inner">
        <header>
            @Umbraco.Field("servicesTitle", insertBefore: "<h2>", insertAfter: "</h2>", recursive: true)
            @Umbraco.Field("servicesIntroduction", recursive: true)
        </header>

        @if (serviceIcons != null && serviceIcons.Count() > 0)
        {
        <ul class="icons major style2">
            @foreach (RelatedLink link in serviceIcons)
            {
                <li><span class="icon fa-@link.Caption"><span class="label">@link.Caption</span></span></li>
            }

        </ul>
        }

        
        @Umbraco.Field("servicesFutherInformation", recursive: true)
        @if (servicesLink != null && !string.IsNullOrEmpty(servicesLink.Link))
        {
            <footer>
                <ul class="actions special">
                    <li><a href="@servicesLink.Link" target="@(servicesLink.NewWindow ? "_blank" : null)" class="button big">@servicesLink.Caption</a></li>
                </ul>
            </footer>
        }
    </div>
</section>
