@inherits UmbracoViewPage

@using Umbraco.Web.Models

@{ 
    IEnumerable<RelatedLink> footerSocialLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerSocialLinks");
}

<!-- Footer -->
<section id="footer" class="wrapper split style2">
    <div class="inner">
        <section>
            <header>
                @Umbraco.Field("footerTitle",insertBefore:"<h3>", insertAfter:"</h3>")
            </header>
            @Umbraco.Field("footerContent")
            @if(footerSocialLinks != null && footerSocialLinks.Count() > 0)
            {
            <ul class="icons">
                @foreach (RelatedLink link in footerSocialLinks)
                {
                    <li><a href="@link.Link" class="icon fa-@link.Caption" target="@(link.NewWindow ? "_blank" : null)"><span class="label">@link.Caption</span></a></li>
                }

            </ul>
            }
        </section>
        <section>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half"><input type="text" name="name" id="name" placeholder="Name" /></div>
                    <div class="field half"><input type="email" name="email" id="email" placeholder="Email" /></div>
                    <div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                </ul>
            </form>
        </section>
    </div>
    <div class="copyright">
        <p>&copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet nullam.</p>
    </div>
</section>